extends layout

block tutorial
    h2 Health Data Portal Tutorial
    p. About:
    |As our personal health information becomes digital it is more open and easier to access.  
    |This web app demonstrates a solution that provides users the ability to control, protect, and monitor their data.
    |In a production application an individual would login for this hackathon the login button is a stub.
    
    p. 
    |Each page has a tutorial section that explains what that page does.  To get started click the login link!
    br
    br

block content
    .center
        .login
            .buttons
                h1 #[a(href='/dashboard') Login]
